@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: poppins-regular;
  src: url(../public/Font/Poppins-Medium.ttf);
}

@font-face {
  font-family: poppins-bold;
  src: url(../public/Font/Poppins-Bold.ttf)
}

@font-face {
  font-family: poppins-semiBold;
  src: url(../public/Font/Poppins-SemiBold.ttf)
}

@font-face {
  font-family: poppins-light;
  src: url(../public/Font/Poppins-Light.ttf)
}


label,
p {
  font-family: "poppins-light" !important;

}

.light-font {
  font-family: "poppins-light" !important;
}

.regular-font {

  font-family: 'poppins-regular', sans-serif !important;
}

.bold-font {

  font-family: 'poppins-bold', sans-serif !important;
}

.semiBold-font {
  font-family: 'poppins-semiBold', sans-serif !important;

}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Custom Scrollbar Styling for WebKit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 4px;
  /* Set width of the vertical scrollbar */
  height: 4px;
  /* Set height of the horizontal scrollbar */
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background: transparent;
  /* Color of the track */
  border-radius: 50%;
  /* Rounded track corners */
}

/* Thumb of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #0f0e2c;
  /* Scrollbar color */
  border-radius: 50%;
  /* Rounded track corners */
  border: 1px solid transparent;
  /* Padding around thumb */
}

/* Scrollbar hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: #0c0b29;
  /* Slightly darker thumb color on hover */
}

::-webkit-scrollbar-button {
  display: none;
}

/* Optionally, hide the scrollbar track piece that sits at the end of the scrollbar */
::-webkit-scrollbar-track-piece {
  background: transparent;
  /* Makes the track piece invisible */
}

/* Scrollbar styles for Edge, IE */
* {
  scrollbar-track-color: transparent;
  /* Track color */
  scrollbar-width: thin;
  /* Thin scrollbar */
  scrollbar-arrow-color: transparent;
}

.avatar-stacked {
  position: relative;
  margin-left: -20px;
  /* Controls the overlap amount */
  transition: transform 0.2s ease-in-out, z-index 0.2s ease-in-out;
}

.avatar-stacked:hover {
  transform: scale(1.1);
  /* Enlarges the avatar on hover */
  z-index: 10;
  /* Brings it to the top when hovered */
}